#___reactour {
  font-family: 'Montserrat', sans-serif, 'Raleway';
  color: #124874;
  .mytour_helper {
    font-weight: 500;
  }
  .mytour_mask {
    color: rgb(0 0 0 / 20%); // Màu nền của tour
  }
}
