::-webkit-scrollbar {
  // width: 11px;
  // height: 11px;
  width: 7px;
  height: 7px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background-color: #b7c8d7;
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  // border: 4px solid white;
  border: 2px solid white;
  background-color: #b2bec3;
}
