$color-primary: #1db180;
$color-secondary: #9ba6ae;
$color-bg-primary: #ebf8f4;
$color-text: #212b36;

$font-montserrat: 'Montserrat', sans-serif;
$font-playpen: 'Playpen Sans', cursive;
$font-raleway: 'Raleway', sans-serif;

$break-point-min: 0px;
$break-point-xs: 325px;
$break-point-sm: 425px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$break-point-base-container: 1306px;
$break-point-xl: 1280px;
$break-point-2xl: 1366px;
$break-point-3xl: 1440px;
$break-point-4xl: 1600px;
